/* * {
  background-color: black;
  margin: auto;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.95);
} */

body {
  margin: auto;
  /* width: 80%; */
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  color: rgba(255, 255, 255, 0.95);
}

a {
  color: rgba(255, 255, 255, 0.95);
}
