.habits-header {
  display: flex;
  height: 2.7rem;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.habit-option {
  display: flex;
  gap: 0.5rem;
}
