.habits-header {
  display: flex;
  height: 2.7rem;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.habit-option {
  display: flex;
  gap: 0.5rem;
}

.habit-add {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  background-color: #323232;
  height: 25px;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.habit-add > svg {
  width: 2em;
  height: 2em;
}

.habit-add > p {
  font-weight: 500;
  margin-right: 1rem;
}
