.habit {
  width: 90%;
  height: 1.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.habit-detail {
  width: 85%;
  cursor: pointer;
}


