.habit {
  width: 90%;
  height: 1.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-left: 1rem;
}

.selected {
  box-shadow: 2px 2px 8px #888888;
}
.habit-detail {
  width: 75%;
  cursor: pointer;
}


