.side-nav {
  width: 18%;
  border-right: 1px solid gray;
  margin-top: 0;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  cursor: pointer;
}

.navItem {
  margin-top: 0.5rem;
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}

.profile {
  padding: 0.5rem;
  background-color: #323232;
  height: 2rem;
  width: 80%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
  position: relative;
}

.profile > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile > p {
  margin-left: 10px;
  /* font-family: Inter; */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 15.6px;
  text-transform: capitalize;
  /* color: rgba(255, 255, 255, 0.95); */
}

/* .profile-actions {
  position: absolute;
  top: 2.7rem;
  left: 130px;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
/* z-index: 1000; */
/* } * */

/* .profile-action {
  background-color: #323232;
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
} */

.navItem a {
  text-decoration: none;
}

.allHabits > img {
  width: 30px;
  height: 30px;
  background-color: white;
}

.allHabits > p {
  margin-left: 10px;
  /* font-family: Inter; */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 15.6px;
  /* color: rgba(255, 255, 255, 0.95); */
}
